<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.projectsparks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_banking_transaction"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectSparks">
        <activity android:name=".TransactionActivity"/>
        <activity android:name=".UserDataActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>